---
linux_packages:
  - name: "htop"
    description: "Visor interactivo de procesos para Linux"
    vendor: "htop.dev"
    src_file: "htop-3.3.0-1.el9.x86_64.rpm"
    dest_path: "/tmp/"
    package_type: "rpm"
    commands:
      install: "rpm -ivh"
      post_install_validation: "rpm -qa | grep -i htop"
    version_regex: "htop-(\\d+\\.\\d+\\.\\d+)"