---
# software_packages_linux.yml
# Lista de paquetes a instalar en servidores Linux.

linux_packages:
  - name: "SentinelAgent"
    description: "Agente de seguridad SentinelOne"
    vendor: "SentinelOne"
    # Archivo fuente en el repositorio central (invd-ts-ansible)
    src_file: "SentinelAgent_Linux_x86_64_v25_1_3_6.rpm"
    # Ruta de destino en el servidor Linux
    dest_path: "/home/{{ ansible_user }}/"
    # Tipo de paquete (rpm, deb, tar, etc.)
    package_type: "rpm"
    # Comandos específicos para este paquete
    commands:
      install: "rpm -ivh"
      # Nota: El nombre del archivo se concatenará automáticamente
      post_install_validation: "rpm -qa | grep -i SentinelAgent"
      activation: "/opt/sentinelone/bin/sentinelctl management token set Aqui_va_el_token"
      start: "/opt/sentinelone/bin/sentinelctl control start"
      status: "/opt/sentinelone/bin/sentinelctl control status"
    # Regex para extraer la versión del comando de validación
    version_regex: "SentinelAgent-(\\d+.*)\\.rpm"
    # Nota: Puedes añadir más paquetes aquí abajo
  # - name: "CrowdStrike"
  #   src_file: "falcon-sensor-7.08.0-15406.el7.x86_64.rpm"
  #   ... resto de configuración