# linux_users_passwords.txt
# Generado por users-admin
# Formato: host | username | password
{% for h in (audit_linux | default([])) %}
{% for op in (h.operations | default([])) %}
{% if (op.password_generated | default(false)) %}
{{ h.host | default('') }} | {{ op.username | default('') }} | {{ op.password_plain | default('') }}
{% endif %}
{% endfor %}
{% endfor %}